body{
    background-color: #161515;
}
*{
    color: #EED8E5;
    font-family: "SN Pro";
}
.nav {
    top: 0px;
    background-color: #212121;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    border-image: linear-gradient(to top, #151414 0%, #BB9FC2 100%) 1; 
    border-right: 4px solid;
    margin: 0
} 
.nav div {
    background-color: #B292AC;
}
.nav div h1 {
    bottom: 0;
    padding: 25px;
    color: #E6ECE6;
    background: linear-gradient(45deg, #050505, #8C7289);
    position: absolute;
    width: 100%;
    font-weight: bold;
}
.nav a:not(:nth-of-type(4)) {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 25px;
    background: linear-gradient(45deg, #ffddff 0%, #050505 50%);
    background-size: 1000px;
    background-position: -500px;
    transition: 1s ease-in-out;
}
.nav a:nth-of-type(4) {
    background-color: #BB9FC2;
    padding: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 1s ease-in-out;
    box-shadow: 0px 15px 55px 15px #BB9FC2;
}
.nav a:nth-of-type(4):hover {
    box-shadow: 0px 15px 55px 15px #BE9BB2;
    background-color: #BE9BB2;
}
.nav a:hover{
    background-color: #C8A3BC;
    background-position: 0px;
}
.reponame {
    border-radius: 15px;
    padding: 75px;
    font-size: 75px;
    margin-left: 21%;
    margin-top: 0px;
    background-color: #BB9FC2;
}
.reponame > b {
	font-size: 72px;
	background: -webkit-linear-gradient(45deg, #EED8E5, #FFDDFF 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.alphabets {
    width: 75%;
    margin: 5px;
    padding: 15px;
    background-color: #ECE6E9;
    border-radius: 25px;
    margin-left: 21%;
}
.alphabets a {
    display: block;
    padding: 25px;
    background-color: #151414;
    color: #ECE6E9;
}
.alphabets a:first-child {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.alphabets a:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.alphabets a:hover {
    background-color: #1c1c1c;
    cursor: pointer;
}
.pkgbox {
	background-color: #1f1f1f;
	width: 70%;
	margin: 5px;
    margin-left: 21%;
	height: 500px;
	border-radius: 15px;
}
.pkgbox > .pkg {
	color: #ECE6E9;
	text-decoration: none;
	margin: 25px;
	font-size: 50px;

}
.pkgbox > .pkgdesc {
    background-color: #151414;
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > .pkgver {
    background-color: #3a3a3a;
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > .example {
    margin-left: 25px;
    font-size: 25px;
    color: #ECE6E9;
}
.pkgbox > * {
	color: black;
	font-size: 15px;
	margin-left: 25px;
}
.pkgbox > p > b {
	color: #ECE6E9;
}
.pkgbox > pre {
    width: 75%;
    border-radius: 5px;
    background-color: #161515;
}
.pkgbox > pre >  code {
    color: #F9F9F9;
}
.pkgbox > .insprogs {
   color: #ECE6E9; 
}
