body{
    
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-color: #161515;
}
html {
    scroll-behaviour: smooth;
}
*{
	font-weight: bold;
	color: white;
}
.navbar{
	color: white;
	position: sticky;
	top: 0;
	width: 100%;
	border-radius: 10px;
	background-color: #ECE6E9;
    padding-bottom: 5px;
	box-shadow: 0px 0px 5px 5px #151516;
	text-align: left;
    transition: 2s ease;
}
.navbar > .navbtn {
	background-color: #1C1B1C;
	display: inline-flex;
	width: 150px;
	justify-content: center;
	align-items: center;
	transition: 2s ease;
	border-radius: 15px;
	padding: 15px;
	margin-top: 5px;
}
.navbar > a > .logo {
	display: inline-flex;
	padding: 15px;
	margin-left: 5px;
	border-radius: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #1C1B1C;
}
.navbar > a {
	text-align: center;
	text-decoration: none;
}
.navbar > .navbtn:hover {
	width: 250px;
	cursor: pointer;
	background-color: #2C2B2C;
}
.navbar > .panel {
	background-color: rgba(15, 15, 15, 0.5);
	backdrop-filter: blur(8px);
	width: 100%;
	text-align: left;
	height: 100vh;
	display: block;
	position: absolute;
	border-radius: 0px;
	margin-top: 65px;
	display: block;
	transition: 2s ease;
	transform: translate(-2480px);
}
.navbar:has(.navbtn:hover) {
    border-radius: 0px;
}
.navbar:has(.panel:hover) {
    border-radius: 0px;
}
.navbar:has(.navbtn:hover) > .panel {
	transform: translate(0px);
	display: block;
	box-shadow: 0px 0px 50px 20px #212121;
}
.navbar > .panel:hover {
	display: block;
	transform: translate(0px);
	box-shadow: 0px 0px 55px 20px #212121;
}
.navbar > .panel > a > div:hover {
	cursor: pointer;
	display: inline-flex;
	justify-content: left;
	align-items: left;
	background-color: #252526;
}
.navbar > .panel > a {
	text-align: left;
	display: flex;
	justify-content: left;
	text-decoration: none;
	align-items: left;
}
.navbar > .panel > a > div {
	padding: 25px;
	width: 100%;
	background-color: #1C1B1C;
	margin: 0 auto;
	transition: 0.5s ease;
}
.reponame {
	font-size: 85px;
}
.reponame > b {
	font-size: 72px;
	background: -webkit-linear-gradient(45deg, #fff, #151515);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.alphabets {
    width: 50%;
    margin: 5px;
    padding: 15px;
    background-color: #ECE6E9;
    border-radius: 25px;
}
.alphabets a {
    display: block;
    padding: 25px;
    background-color: #151414;
    color: #ECE6E9;
}
.alphabets a:first-child {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.alphabets a:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.alphabets a:hover {
    background-color: #1c1c1c;
    cursor: pointer;
}
.pkgbox {
	background-color: #1f1f1f;
	width: 70%;
	margin: 5px;
	height: 500px;
	border-radius: 15px;
}
.pkgbox > .pkg {
	color: #ECE6E9;
	text-decoration: none;
	margin: 25px;
	font-size: 50px;

}
.pkgbox > .pkgdesc {
    background-color: #151414;
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > .pkgver {
    background-color: #3a3a3a;
    color: #E6E0E3;
    width: 75%;
    padding: 7.5px;
    border-radius: 5px;
}
.pkgbox > .example {
    margin-left: 25px;
    font-size: 25px;
    color: #ECE6E9;
}
.pkgbox > * {
	color: black;
	font-size: 15px;
	margin-left: 25px;
}
.pkgbox > p > b {
	color: #ECE6E9;
}
.pkgbox > pre {
    width: 75%;
    border-radius: 5px;
    background-color: #161515;
}
.pkgbox > pre >  code {
    color: #F9F9F9;
}
.pkgbox > .insprogs {
   color: #ECE6E9; 
}
