:root{
    --light-yellow: #E3D89A;
    --more-light-yellow: #E7DF9B;
    --cool-yellow: #fde2a4;
    --dark-cool-yellow: #FCE1A3;
}
body {
    background-color: #050505;
    width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    color: #EED8E5;
    font-family: "SN Pro";
}
.intro {
    margin-left: 20%;
    z-index: -1;
    top: 10px;
    padding: 50px;
    font-size: 75px;
    position: relative;
    top: 0;
    color: #ffffff;
    background-color: #e3d89a;
}
.abt .headers {
    margin: 0;
    margin-left: 30px
}
.headers {
    font-size: 50px;
    padding: 25px;
    position: relative;
}
.abt {
    margin-left: 20%;
    margin-top: 100px;
    padding-bottom: 60px;
    background: linear-gradient(45deg, #fde2a4, #000000 70%);
}
.abt div {
    transition: 1s ease-in-out;
    background-color: #101010;
    width: 80%;
    font-size: 20px;
    padding: 25px;
    display: flex;
    margin-left: 3vw;
}
.abt div:nth-of-type(1){
    height: 30px;
    background-color: var(--more-light-yellow);
    color: #050505;
    font-size: 25px;
    text-align: center;
}
#headp {
    margin-left: 20vw;
    z-index: -1;
    margin-top: 50px;
    background: linear-gradient(45deg, #fde2a4, #000000 70%);
}
ul {
    margin-left: 30px;
    margin-top: 25px;
    padding: 25px;
    border-radius: 15px;
    width: 75%;
    background-color: #101010;
    list-style-type: none;
}
li {
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
}
li::before {
    content: '> ';
    font-weight: 1000;
}
footer {
    margin-top: 250px;
    background-color: var(--dark-cool-yellow);
    padding: 25px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer p{
    margin-left: 22%;
    color: white;
}
@media all and (max-width: 830px){
    #headp, .intro, .abt {
        margin-left: 0px;
    } 
    .intro {
        font-size: 50px;
        top: 70px;
        word-break: break-all;
    }
    .mob-nav-bar {
    	display: block;
    }
}
