body {
    background-color: #161515;
}
*{
    margin: 0;
    color: #EED8E5;
    font-family: "SN Pro";
}
.nav {
    background-color: #212121;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
} 
.nav div {
    background-color: #B292AC;
}
.nav div h1 {
    bottom: 0;
    padding: 25px;
    color: #E6ECE6;
    background: linear-gradient(45deg, #050505, #8C7289);
    position: absolute;
    width: 100%;
}
.nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 25px;
    background: linear-gradient(45deg, #ffddff 0%, #050505 50%);
    background-size: 1000px;
    background-position: -500px;
    transition: 1s ease-in-out;
}
.nav a:hover{
    background-color: #C8A3BC;
    background-position: 0px;
}
.intro {
    margin-left: 21%;
    width: 70%;
    top: 10px;
    padding: 50px;
    font-size: 75px;
    position: relative;
    background-color: #C39FB7;
    border-radius: 5px;
}
.intro::before {
    content: ".";
    color: transparent;
    background: linear-gradient(45deg, #DAB2CC, #90758D 50%);
    border-radius: 25px;
    margin-right: 50px;
    width: 20px;
    height: 100px;
}
.headers {
    margin-left: 20%;
    font-size: 50px;
    padding: 25px;
    position: relative;
}
.headers::before{
    content: '.';
    color: transparent;
    height: 150px;
    position: absolute;
    margin-right: 25px;
    width: 25px;
    background: linear-gradient(45deg, #BB9FC2, #90758D, #FFDDFF);
}
.abt {
    display: flex;
    margin-left: 22%;
    margin-top: 100px;
}
.abt div {
    background-color: #C29EB6;
    width: 200px;
    font-size: 20px;
    padding: 25px;
    margin-right: 5px;
    border-radius: 25px;
    display: inline-block;
}
.abt div:nth-child(2){
    background-color: #B995AC;
}
.abt div:nth-child(3){
    background-color: #AF8CA2;
}
.abt div:nth-child(4){
    background-color: #A68399;
}
.abtdev {
    margin-left: 20%;
    padding: 25px;
    margin-top: 75px;
    font-size: 18px;
}
ul {
    margin-left: 21%;
    margin-top: 75px;
    padding: 25px;
    border-radius: 15px;
    width: 75%;
    background-color: #BB9FC2;
    list-style-type: none;
}
li {
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
}
li::before {
    content: '> ';
    font-weight: 1000;
}
