body {
    background-color: #161515;
}
*{
    margin: 0;
    color: #EED8E5;
    font-family: "SN Pro";
}
.nav {
    background-color: #050505;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    border-image: linear-gradient(to top, #151414 0%, #f7eba3 100%) 1; 
    border-right: 4px solid;
} 
.nav div h1 {
    bottom: 0;
    padding: 25px;
    color: #E6ECE6;
    background: linear-gradient(45deg, #050505, #f7eba3);
    position: absolute;
    width: 100%;
}
.nav a:not(:nth-child(4)) {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 25px;
    background: linear-gradient(45deg, #ffea75 0%, #050505 50%);
    background-size: 1000px;
    background-position: -560px;
    transition: 1s ease-in-out;
}
.nav a:hover{
    background-position: 0px;
}
.nav a:nth-of-type(4) {
    background-color: #ffec80;
    color: #050505;
    padding: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 1s ease-in-out;
    box-shadow: 0px 0px 55px 10px #ffec80;
}
.nav a:nth-of-type(4):hover {
    box-shadow: 0px 15px 55px 15px #f7eba3;
    background-color: #f7eba3;
}
.intro {
    margin-left: 21%;
    width: 70%;
    top: 10px;
    padding: 50px;
    font-size: 75px;
    position: relative;
    border-bottom: solid 2px #F9E67D;
    background-color: #050505;
    border-radius: 5px;
}
.intro::before {
    content: ".";
    color: transparent;
    background: linear-gradient(45deg, #F9E67D, #C3BA82 50%);
    border-radius: 25px;
    margin-right: 50px;
    width: 20px;
    height: 100px;
}
.headers {
    margin-left: 20%;
    font-size: 50px;
    padding: 25px;
    position: relative;
}
.headers::before{
    content: '.';
    color: transparent;
    height: 150px;
    position: absolute;
    margin-right: 25px;
    width: 25px;
    background: linear-gradient(45deg, #FFEC80, #F5E270, #EAD867);
}
.abt {
    display: flex;
    margin-left: 22%;
    margin-top: 100px;
}
.abt div {
    transition: 1s ease-in-out;
    background-color: #101010;
    border: 5px solid #FFEC80;
    width: 200px;
    font-size: 20px;
    padding: 25px;
    margin-right: 5px;
    border-radius: 25px;
    display: inline-block;
}
.abt div:nth-child(2){
    border: 5px solid #F3E075;
}
.abt div:nth-child(3){
    border: 5px solid #E9D665;
}
.abt div:nth-child(4){
    border: 5px solid #E6DC6A;
}
.abt div:hover {
    padding: 50px;
    box-shadow: 0px 0px 55px 25px #252525;
    margin-right: 10px;
}
.abtdev {
    margin-left: 20%;
    padding: 25px;
    margin-top: 75px;
    font-size: 18px;
}
ul {
    margin-left: 21%;
    margin-top: 75px;
    padding: 25px;
    border-radius: 15px;
    width: 75%;
    background-color: #BB9FC2;
    list-style-type: none;
}
li {
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
}
li::before {
    content: '> ';
    font-weight: 1000;
}
footer {
    margin-top: 250px;
    background-color: #876A83;
    padding: 25px;
}
footer a {
    text-decoration: none;
}
footer p{
    margin-left: 22%;
}
