:root{
    --light-yellow: #E3D89A;
    --more-light-yellow: #E7DF9B;
    --cool-yellow: #fde2a4;
    --dark-cool-yellow: #FCE1A3;
    --custom-red: #ff5e5e;
}
body {
    background-color: #050505;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overflow-y: scroll;
}
*{
    margin: 0;
    color: #ECE6E9;
    font-family: "SN Pro";
}
.intro {
    background: var(--light-yellow);
    font-size: 75px;
    padding: 50px;
    margin-left: 20%;
    z-index: -1;
    word-break: break-all;
}
.bigheaders {
    background: linear-gradient(45deg, #050506, var(--cool-yellow) 50%);
    margin-left: 20%;
    padding: 40px;
    font-size: 50px;
    z-index: -1;
}
.headers {
    margin-left: 21%;
    font-size: 35px;
}
.para {
    margin-left: 21%;
    width: 80%;
}
.code {
    background-color: #C1AD7E;
    border-radius: 10px;
    padding: 5px;
}
ul li {
    list-style-type: none;
    color: #dfdfdf;
}
ol, ul {
    margin-left: 20%;
}
ul li::before {
    content: '• ';
    color: var(--cool-yellow);
}
.note, .imp {
    width: 60%;
    position: relative;
    background-color: #202020;
}
.note p, .imp p {
    padding: 25px;
}
.note div, .imp div {
    background-color: #C5B283;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.warn {
    width: 60%;
    position: relative;
    background-color: #202020;
}
.warn p {
    padding: 25px;
}
.warn div {
    background-color: orange;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.specpara {
    margin-left: 21%;
    font-size: 25px;
    text-align: center;
    font-weight: bold; 
    background-color: #C1AD7E; 
    padding: 25px; 
    border-radius: 5px;
}
.specpara div:first-child {
    margin-top: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.specpara div {
    text-align: left;
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
    background-color: #151516;
}
.specpara div:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
table {
    display: flex;
    border-collapse: collapse;
    margin-left: 21%;
    width: calc(100% - 22%);
    overflow-x: scroll;
}
table tr, table th, table td {
    text-align: center;
    padding: 15px;
}
table .op {
    background-color: #BE9061;
}
table .heading {
    background-color: #C1AD7E;
}
table tr:not(.heading, .op){
    background-color: #151516;
}
.nav .sections a {
    padding: 15px;
    background-size: 0px;
}
.nav .sections a:hover {
    background-color: #c1ad7e;
    cursor: pointer;
}
.nav .sections  {
    width: 100%;
    background-color: #101011;
    overflow-y: scroll;
    max-height: 450px;
}
.nav .sections .bigsec  {
    background-color: #C1AD7E;
    padding: 15px;
}
@media all and (max-width: 830px) {
    .intro {
        font-size: 50px;
	    margin-left: 0;
	    margin-top: 50px;
    }
    table {
        margin-left: 5px;
        width: 100%;
    }
    table tr, table td, table th {
        padding: 7px;
    }
    .nav {
        display: none; 
    }
    .bigheaders {
        background: linear-gradient(45deg, #050506, var(--cool-yellow) 70%);
        margin-left: 0px;
    }
    .headers, .para, .note, .warn, .imp, .specpara, table {
        margin-left: 5px;
    }
    ul, ol {
        margin: 5px;
        padding-left: 30px;
    }
    .mob-nav {
        display: block;
    }
}
